In [ ]:
numbers = []
for i in range(5):
     num = float(input(f"Enter number {i+1}:"))
numbers.append(num)



total = sum(numbers)
average = total / len(numbers)
maximum = max(numbers)
minimum = min(numbers)
print("Numbers:",numbers)
print("Sum:",total)
print("Average:",average)
print("Maximum:",maximum)
print("Minimum:",minimum)

Enter number 1:3
Enter number 2:2
Enter number 3:1
Enter number 4:5
Enter number 5:6
Numbers: [6.0]
Sum: 6.0
Average: 6.0
Maximum: 6.0
Minimum: 6.0

In [2]:
from re import search
words = tuple(input(f"Enter word {i+1}:")  for i in range(5))


print("Words tuple:",words)
print("First word:",words[0])
print("Last word:",words  [-1])
print("Total words:",len(words))

search_word = input("Enter a word to search:")
if search_word in words:
  print(f"'{search_word}' is in the tuple")
else:
  print(f"'{search_word}' is Not in the tuple")

Enter word 1:Kholoud
Enter word 2:Abdullah
Enter word 3:Basheer
Enter word 4:Alenzi
Enter word 5:hello
Words tuple: ('Kholoud', 'Abdullah', 'Basheer', 'Alenzi', 'hello')
First word: Kholoud
Last word: hello
Total words: 5
Enter a word to search:Alenzi
'Alenzi' is in the tuple

In [3]:
students = {}
for i in range(3):
  name = input(f"Enter student {i+1} name :")
  score = float (input(f"Enter {name}'s score: "))
  students[name] = score
print("student score:", students)

max_score = max(students.values())
top_students = [name for name, score in students.items() if score == max_score]
print("Top student(s):",top_students, "with score:", max_score)

Enter student 1 name :Raghad
Enter Raghad's score: 100
Enter student 2 name :reem
Enter reem's score: 80
Enter student 3 name :maha
Enter maha's score: 60
student score: {'Raghad': 100.0, 'reem': 80.0, 'maha': 60.0}
Top student(s): ['Raghad'] with score: 100.0

In [5]:
list1 = list(map(int, input("Enter numbers for list 1 (space-separated):"). split()))
list2= list(map(int, input("Enter numbers for list 2 (space-separated):"). split()))
set1 = set(list1)
set2 = set(list2)

print("Set 1 :",set1)
print("Set 2 :", set2)
print("Union:", set1| set2)
print("Intersection:", set1& set2)
print("Difference(set1 - set2):", set1 - set2)

Enter numbers for list 1 (space-separated):2 3 4 5
Enter numbers for list 2 (space-separated):1 2 3 4
Set 1 : {2, 3, 4, 5}
Set 2 : {1, 2, 3, 4}
Union: {1, 2, 3, 4, 5}
Intersection: {2, 3, 4}
Difference(set1 - set2): {5}

In [7]:
name_list = [input(f"Enter name {i+1}:")for i in range(5)]

names_tuple = tuple(name_list)
print("Names tuple:", names_tuple)

names_dict = {name: len(name) for name in name_list}
print("Names dictionary:", names_dict)

length_set = set(names_dict.values())
print("Unique name lengths set:",length_set)

Enter name 1:reem
Enter name 2:lana
Enter name 3:raghad
Enter name 4:sara
Enter name 5:hajer
Names tuple: ('reem', 'lana', 'raghad', 'sara', 'hajer')
Names dictionary: {'reem': 4, 'lana': 4, 'raghad': 6, 'sara': 4, 'hajer': 5}
Unique name lengths set: {4, 5, 6}